<div>
    <div>
        {{#summary}}
            {{{summary}}}
        {{/summary}}
        {{^summary}}
            <p>
                {{#str}} coursesummarymissingtext, theme_urcourses {{/str}}
            </p>
        {{/summary}}
    </div>
    {{#caneditsummary}}
        <div>
            <a href="{{{editlink}}}" class="btn btn-secondary btn-block text-center">
                <small>{{#str}}coursesummaryedit, theme_urcourses {{/str}}</small>
            </a>
        </div>
    {{/caneditsummary}}
</div>