<div class="mb-3">
    <strong>The following test user account will be created: </strong>
</div>
<div class="mb-2">
    <div>
        <strong>Email address </strong>
    </div>
    <div>
        {{username}}+urstudent@uregina.ca
    </div>
</div>
<div>
    <div>
        <strong>Username </strong>
    </div>
    <div>
        {{username}}-urstudent
    </div>
</div>
<hr/>
You can enrol this account to test and experience a course as a student.
<strong>Would you like to create the test student account?</strong>