{{< theme_urcourses/feedback_modal_form }}
    {{$heading}}
        {{#str}} feedback_modal_suggestion, theme_urcourses {{/str}}
    {{/heading}}
    {{$labeltext}}
        {{#str}} feedback_modal_suggestion_label, theme_urcourses {{/str}}
    {{/labeltext}}
{{/ theme_urcourses/feedback_modal_form }}