<div>
    <strong>Email address </strong>
</div>
<div>
    <span>{{email}}</span>
</div>
<div>
    <strong>Username </strong>
</div>
<div>
    <span>{{username}}</span>
</div>
<div>
    <strong>Account Creation Date </strong>
</div>
<div>
    <span> {{datecreated}} </span>
</div>